<main style="display: flex; justify-content:center; flex-direction:column;">
    <section style="text-align: center; margin:50px 0;">
        <h1>BIENVENIDOS A NUESTRO E-COMMERCE</h1>
        <p style="margin:30px 0">esta seria la presentacion de la landind page y luego de esto habria un banner</p>
    </section>

    <section>
        <img src="/img/TU CAMBIO ES HOY.png" alt="" style="width: 100%; heigth:100%;">
    </section>

    <section style="display: flex; justify-content: center; margin:80px 0;gap:20px; ">
        <div style="text-align: center;">
            <img src="/img/products.jpg" alt="" style="width: 85%; heigth:85%">
            <h2>Products</h2>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Atque quisquam doloribus, impedit incidunt doloremque aut aperiam accusantium provident omnis necessitatibus consequuntur dolor nesciunt enim similique maxime excepturi! Expedita, sapiente quia?</p>
            <button>Mas Info</button>
        </div>

        <div style="text-align: center;">
            <img src="/img/info.jpg" alt="" style="width: 85%; heigth:85%">
            <h2>Info</h2>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Atque quisquam doloribus, impedit incidunt doloremque aut aperiam accusantium provident omnis necessitatibus consequuntur dolor nesciunt enim similique maxime excepturi! Expedita, sapiente quia?</p>
            <button>Mas Info</button>
        </div>

        <div style="text-align: center;">
            <img src="/img/coach.jpg" alt="" style="width: 85%; heigth:85%">
            <h2>About Me</h2>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Atque quisquam doloribus, impedit incidunt doloremque aut aperiam accusantium provident omnis necessitatibus consequuntur dolor nesciunt enim similique maxime excepturi! Expedita, sapiente quia?</p>
            <button>Mas Info</button>
        </div>
    </section>

    <section style="display:flex; justify-content: center; padding: 25px; margin:30px 0;">
        <div style="display:flex; flex-direction:column;align-items: center;">

            <h3 style="font-size: 50px;">TITULO</h3>

            <p style="margin:60px 0;font-size:23px;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis ad, rerum aliquam alias fugit accusantium eum, consequuntur doloribus, assumenda similique eaque saepe vel et. At excepturi dicta maiores ex consectetur?.</p>

            <p style="font-size:23px;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus asperiores soluta nostrum placeat ipsam amet accusantium sed, quasi impedit consequuntur, nemo, quos explicabo dignissimos. Explicabo molestias ut consequatur eius dolorem.</p>

            <p style="font-size:23px;">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sint, impedit itaque. Quam fugiat, dignissimos itaque corporis quidem eius voluptatem ipsa ab explicabo praesentium quasi! Culpa porro maxime corrupti nisi nemo!</p>
        </div>
            <img src="/img/lewan.jpg" alt="" style="width: 35%; heigth:35%">
    </section>
</main>