<main>
    <div>
        <img src="{{users.avatar}}" alt="avatar" id="avatar">
        <h2 id="name">{{users.name}}</h2>
        <p id="email">{{users.email}}</p>
        <p id="role">{{users.role}}</p>
    </div>
</main>